<!-- templates/home.html-->
{% extends 'base.html' %}

{% block content %}
<div style="margin-top:60px"></div>
<h1 style= "font-family: Fjalla One; font-style: sans-serif; font-size: 70px">{{ msg }}</h1>
<div style="margin-top:60px"></div>

<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <div class = "text-center" style="margin-top:60px">
        <img src="https://images.unsplash.com/photo-1519861531473-9200262188bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80" class="rounded float-center" width="700" height="500">
    </div>


{% endblock %}

