<!-- templates/player_edit.html -->
{% extends 'base.html' %}

{% block content %}
<div class='row d-flex justify-content-center'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/playerhub/{{player._id}}/edited'>
            {% include 'partials/player_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}